.main-page {
	background-color: white; 
	width: 1000px; 
	height: 1200px;
	padding:10px;
	border-radius: 10px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;

}

.head-page{
}
.body{


}
.page-title{
	padding-top: 40px;
	padding-left: 20px;
	font-size: 20px;
	font-weight: bold;

}
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.passphrase-width{
	display: inline-block;
	width: 650px;
}
.icon-download-width{
	display: inline-block;
	width: 50px;
	text-align: center;

}

.icon-download{
	cursor: pointer;
}

.owner-width{
	display: inline-block;
	width: 200px;
}

.table-header{
	color:gray;
	font-weight: bold; 
}

#intro{
padding: 20px;

}
#drawing{
	padding-bottom:20px;
}

#what-action{
	padding-bottom: 0px;
	font-size: 20px;

}
.large-button{
	background-color:#1f2d81ff;
	height: 100px;
	width: 90%;
	margin-bottom: 30px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.large-button .label{
	width: 80%;
	color:white;
	display: inline-block;
	padding: 30px;
	font-size: 24px;
}
.large-button:hover .label{ 
	color:gray;
}
.large-button:hover{
	cursor: pointer;
}

.address-input{
	width: 300px;
}
.in-line{
	display: inline-block;
}